body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

header {
  text-align: center;
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}

li {
  list-style: none;
}

main {
  padding: 30px 0;
}

.weather-app {
  display: flex;
  justify-content: space-between;
}

.weather-details {
  position: relative;
  top: 90px;
  right: 70px;
}

.search-form-input {
  background-color: #ffffff;
  border: none;
  border-radius: 6px;
  width: 70%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  border: none;
  border-radius: 6px;
  padding: 15px 30px;
  background-color: #457aee;
  margin-left: 10px;
  color: #ffffff;
  font-size: 16px;
}

.search-form-button:hover {
  background: #091a3f;
  border: none;
}

.weather-app-icon {
  width: 100px;
}

.container {
  background: #dfe9f3;
  max-width: 600px;
  margin: 30px auto;
  border-radius: 16px;
  padding: 20px 0 20px 0;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  padding: 30px;
}

.time {
  color: rgba(39, 33, 66, 0.7);
  font-size: 16px;
}

.temperature {
  line-height: 24px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 0;
}

.temperature-degree-value {
  position: relative;
  top: -30px;
  font-size: 60px;
}

.temperature-unit {
  font-size: 20px;
  position: relative;
  top: -55px;
}

.humidity-value {
  color: #885df1;
  font-weight: bold;
}

.wind-speed {
  color: #885df1;
  font-weight: bold;
}

.weather-forecast {
  text-align: center;
  margin-bottom: 30px;
}

.weather-forecast-day {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-icon {
font-size: 30px;
}

.weather-forecast-temperatures {
    color: #885df1;
    font-size: 15px;
}

.weather-forecast-min-temperature {
  opacity: 0.8;
}

a {
  color: #885df1;
}

a:hover {
  cursor: pointer;
}

footer {
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
}
